<!-- BrowserSync Reload (dev only) -->
<script id="__bs_script__">
  //<![CDATA[
  document.write(
    "<script async src='/browser-sync/browser-sync-client.js?v=3.0.4'><\/script>"
  );
  //]]>
</script>
